.list {
  background-color: rgb(210, 219, 250);
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.listItem {
  margin-bottom: 15px;
}

.text {
  font-style: normal;
  margin-top: 2px;
  margin-bottom: 30px;
}

.namehead {
  margin-top: 5px;
  margin-bottom: 10px;
}
